<!--<div class="row">-->
<!--    <div class="col-md-10 col-md-offset-2 searchbar">-->
<!--        <div  class="col-md-8">-->
<!--            <input type="text" id="searchform" style="width:100%">-->
<!--        </div>-->



<!--    </div>-->
<!--</div>-->

<nav class="navbar navbar-light bg-light">
  <form class="container-fluid">
    <div class="input-group">
            <input type="text" id="searchform" style="width:100%">
             <div class="visible-lg visible-md">
            or &nbsp;<a role="button" class="btn btn-default btn-xs" href="{%  url 'search-page' %}"><i class="fa fa-search"></i>
            Classic search</a>
        </div>
    </div>
  </form>
</nav>


